.env.development
.env.production
.env.test
.env
__pycache__/
*.pyc
.pytest_cache/
.venv/
data/
data/*
*.session
dist/
node_modules/
release/.compose.generated.yml
coverage/
.trivy-cache/
.npmrc
package-lock.json.npm-registry-bak